<!DOCTYPE html>
<html>
<head>
  <title>Powder Dev</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/coderay.css">
</head>
<body>
<nav>
  <div><a href="/">Home</a></div>
  <div><a href="/posts">Posts</a></div>
  <div>|</div>
  <% if @username %>
  <span> Welcome, <%= @username %></span>
  <div><a href="/users/logout">Logout</a></div>
  <% else %>
    <div><a href="/users/new">register</a></div>
    <div> <a href="/users/sign_in">login</a></div>
  <% end %>
</nav>
  <%= yield %>
</body>
</html>