/* START RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
/* END RESET */

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  /* background dark blue-black */
  background-color: #323845;
}

/* Homepage */
.home {
  height: 700px;
  text-align: center;
  background-image: url(/images/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.home_text {
  padding-top: 180px;
}

.home_text h1 {
  font-size: 100px;
  color: #ffffff;
}

.home_text p {
  font-size: 50px;
  color: #ac3636;
  background: rgba(255,255,255,0.75);
}

/* Nav */
nav {
  /* background dark blue-black */
  background-color: #323845;
  margin: 12px 0px 12px 134px;
}

nav div {
  display: inline;
  vertical-align: middle;
  height: 100%;
  padding: 0px 10px 0px 10px;
  color: #ffffff;
}

nav div:hover {
  box-shadow: inset 6px 0px 5px #323846;
}

nav span {
  padding-top: 10px ;
  color: #ffffff;
}

nav a {
  height: 100%;
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  color: #1bc5de;
}

/* Content */
#main_container {
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 0;
  background: #f2f2f2 url('/images/noise.png?1361611546') top left;
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 50px;
}

.main_heading {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 18px;
}

#posts {
  margin: 0;
  padding: 10px;
  list-style-type: none;
}

.code {
  overflow: auto;
  overflow-x: auto; /* Credit and thanks to Yaniv */
  overflow-y: hidden;
  white-space: nowrap;
}

.post_title {
  font-size: 20px;
  font-weight: bold;
}

.post {
  margin: 10px 10px 30px 10px;
  background-color: white;
}

.post_body {
  border: 1px solid lightgrey;
}

.post_new {
  padding: 10px;
  margin: 0;
}