/* START RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
/* END RESET */

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

/* Nav */
nav {
  height: 40px;
  /* background dark blue-black */
  background-color: #323845;
  /* text white */
  color: #ffffff;
}

nav div {
  margin-top: 10px;
  display: inline;
  height: 100%;
  padding: 0px 10px 0px 10px;
}

nav div:hover {
  background-color: #4f5a75;
  box-shadow: inset 6px 0px 5px #323846;
}

nav a {
  height: 100%;
  text-decoration: none;
  color: #ffffff;
}

/* Content */
#main_container {
  width: 60%;
  margin: 0 auto 0 auto;
  padding: 0;
}

.main_heading {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#posts {
  margin: 0;
  padding: 10px;
  list-style-type: none;
}

.post_title {
  font-size: 20px;
  font-weight: bold;
}

.post {
  margin: 10px 10px 30px 10px;
  background-color: teal;
}

.post_new {
  padding: 10px;
  margin: 0;
}