<div class="home">
  <div class="home_text">
    <form action="/sessions/create" method="POST">
      <p>Welcome!</p>
      <input type="text" name="username" placeholder="username" />
      <input type="submit" value="Sign In"/>
    </form>
  </div>
</div>